@model Projet.Akotchaye.Models.ViewModel
@{
    ViewBag.Title = "DashCom";
}


<br />
@if (Session["Username"] != null)
{<h3> Welcome @Session["Nom"].ToString()  @Session["Prenoms"].ToString()  </h3>}
<div class="pull-right">@Html.ActionLink("Déconnexion", "Deconnexion", "Deconnexion")</div>
<br />
<h4>Utilisateurs</h4>
@Html.ActionLink("Ajouter un utilisateur", "Create", "Utilisateurs", null, new { @class = "btn btn-primary" })
<br />
<br />
<table class="table">
    <tr>
        <th>
            <label for="">IdUser</label>
        </th>
        <th>
            <label for="">Username</label>
        </th>
        <th>
            <label for="">Password</label>
        </th>
        <th>
            <label for="">Nom </label>
        </th>
        <th>
            <label for=""> Prenoms</label>
        </th>
        <th>
            <label for=""> Tel</label>
        </th>
        <th>
            <label for="">Email</label>
        </th>
        <th>
            <label for=""> Libelle </label>
        </th>
        <th>
            <label for="">  Adresse </label>
        </th>

        <th></th>
    </tr>
    @if (Model.Utilisateurs != null)
    {
        foreach (var item in Model.Utilisateurs)
        {
            <tr>
                <td>
                    <label for=""> @item.IdUser </label>
                </td>
                <td>
                    <label for=""> @item.Username</label>
                </td>
                <td>
                    <label for=""> @item.Pwd</label>
                </td>
                <td>
                    <label for=""> @item.Nom</label>
                </td>
                <td>
                    <label for=""> @item.Prenoms </label>
                </td>
                <td>
                    <label for=""> @item.Tel </label>
                </td>
                <td>
                    <label for=""> @item.Email </label>
                </td>
                <td>
                    <label for=""> @item.Libelle </label>
                </td>
                <td>
                    <label for=""> @item.Adresse </label>
                </td>

                <td>
                    @Html.ActionLink("Modifier", "Edit", "Utilisateurs", new { id = item.IdUser }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Supprimer", "Delete", "Utilisateurs", new { id = item.IdUser }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }
</table>

<h4> Salles</h4>
@Html.ActionLink("Ajouter une salle", "Create", "Salles", null, new { @class = "btn btn-primary" })
<br />
<br />
<table class="table">
    <tr>
        <th>
            <label for="">IdSalle</label>
        </th>
        <th>
            <label for="">IdUser</label>
        </th>
        <th>
            <label for="">IdGes</label>
        </th>
        <th>
            <label for="">Nom</label>
        </th>
        <th>
            <label for="">Capacité</label>
        </th>
        <th>
            <label for="">Tarif horaire</label>
        </th>

        <th>
            <label for="">Statut</label>
        </th>
        <th>
            <label for="">Adresse</label>
        </th>


        <th></th>
    </tr>


    @if (Model.Salles != null)
    {
        foreach (var item in Model.Salles)
        {
            <tr>
                <td>
                    <label for=""> @item.IdSalle</label>
                </td>
                <td>
                    <label for=""> @item.IdUser</label>
                </td>
                <td>
                    <label for=""> @item.IdGes</label>
                </td>
                <td>
                    <label for=""> @item.NomSalle</label>
                </td>
                <td>
                    <label for=""> @item.CapaciteSalle </label>
                </td>
                <td>
                    <label for="">@String.Format("{0:N0}", item.PrixSalle) FCFA </label>
                </td>


                <td>
                    <label for=""> @item.EtatSalle </label>
                </td>
                <td>
                    <label for=""> @item.AdrSalle</label>
                </td>

                <td>
                    @Html.ActionLink("Modifier", "Edit", "Salles", new { id = item.IdSalle }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Supprimer", "Delete", "Salles", new { id = item.IdSalle }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }


</table>
<h4> Réservations</h4>
<table class="table">
    <tr>
        <th>
            <label for="">IdRes</label>
        </th>
        <th>
            <label for="">IdUser</label>
        </th>
        <th>
            <label for="">IdSalle</label>
        </th>
        <th>
            <label for="">IdClient</label>
        </th>
        <th>
            <label for="">Montant</label>
        </th>
        <th>
            <label for="">Statut</label>
        </th>
        <th>
            <label for="">Debut</label>
        </th>
        <th>
            <label for="">Fin</label>
        </th>


        <th></th>
    </tr>
    @if (Model.Salles != null)
    {
        foreach (var item in Model.Reservations)
        {
            <tr>
                <td>
                    <label for=""> @item.IdRes</label>
                </td>
                <td>
                    <label for=""> @item.IdUser</label>
                </td>
                <td>
                    <label for=""> @item.IdSalle</label>
                </td>
                <td>
                    <label for=""> @item.IdClient</label>
                </td>
                <td>
                    <label for="">@String.Format("{0:N0}", item.MontantRes) FCFA </label>
                </td>
                <td>
                    <label for=""> @item.EtatRes</label>
                </td>
                <td>
                    <label for=""> @item.DatedebutRes</label>
                </td>
                <td>
                    <label for=""> @item.DatefinRes</label>
                </td>



                <td>
                    @Html.ActionLink("Modifier", "Edit", "Reservations", new { id = item.IdRes }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Supprimer", "Delete", "Reservations", new { id = item.IdRes }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }

</table>

